snippet "p( ([\S ]+))?" "print statement" br
print(`!p snip.rv = match.group(2) if match.group(2) is not None else 'True'`)
endsnippet

# pylint invalid-name<Tab> -> # pylint: disable=exec-used
snippet "pylint (.+)" "disable pylint" br
# pylint: disable=`!p snip.rv = match.group(1)`
endsnippet

snippet db "debugger init" b
import pudb; pu.db
endsnippet
